<div class="quiz">
	<!-- Locator -->
	<div class="locator">
		<span>Q1</span>
	</div>

	<!-- Container -->
	<div class="cont">
		<div class="inner">
			<!-- Question -->
			<div class="question">
				<span class="q">VINAJ 상품 구매 경험이 있으신가요?</span>
			</div>

			<!-- Options -->
			<div class="options">
				<fieldset>
					<ul class="exp-words">
						<li class="exps">
							<label class="exp" *ngFor="let exp of exps">
								<input type="radio" id="c{{exp.value}}" name="exps" value="{{exp.value}}"
									[checked]="idx === 0"
									(change)="onSelectionChange(exp)"
									[(ngModel)]="exp.checked" />
								<label for="c{{exp.value}}">
									<span class="disp">{{exp.display}}</span>
								</label>
							</label>
						</li>
					</ul>
				</fieldset>
				<!--
				<button type="button" class="btn btn-info">예</button>
				<button type="button"	class="btn">아니오</button>
				-->
			</div>
		</div>
	</div>

	<!-- Back/Next -->
	<div class="go">
		<button type="button" class="btn btn-default" id="back" (click)=goBack()><i class="fa fa-angle-left" aria-hidden="true"></i>&nbsp;Back</button>
		<button type="button" class="btn btn-default" id="next" (click)=goNext()>Next&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
	</div>
</div>
