<div class="col-12">
	<!-- Locator -->
	<div class="locator">
		<span></span>
	</div>

	<!-- Question -->
	<div class="question">
		<h1>QUIZ. <small>VINAJ 스타일 퀴즈를 시작합니다.</small></h1>
	</div>

	<!-- Answers -->
	<div class="a-opt">
		<img src="./resources/img/vinaj_gift.png" style="max-width: 250px; height: auto;" />
		<br/>

		<!-- Start button -->
		<button type="button" class="btn btn-link" (click)="goNext()"><h2 style="vertical-align: middle;">START&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></h2></button>
		<br/>
		<br/>

		<p class="start_p">
			본 설문은 고객의 취향과 니즈를 파악하여<br/>
			향후 비나제이 제품과 디자인에 반영하고,<br/>
			효과적으로 고객에게 홍보하기 위해서만 사용됩니다.<br/>
			동의를 하시면 <b>START</b> 버튼을 클릭해 주세요~!
		</p>
	</div>
</div>
